ai functionality.png
ai checkliners.png
.vs/slnx.sqlite
.vs/TicTacToe_CPP/FileContentIndex/2dfb0100-2628-4ffd-810c-3b3b7c60c258.vsidx
.vs/TicTacToe_CPP/FileContentIndex/30e42316-7755-4de1-9de8-ec36b48fd282.vsidx
.vs/TicTacToe_CPP/FileContentIndex/63def08c-fac7-4ac9-a51d-30cf17d6ddce.vsidx
.vs/TicTacToe_CPP/FileContentIndex/90da2342-ff9b-4d06-aeaa-df9141ead274.vsidx
.vs/TicTacToe_CPP/FileContentIndex/c094ea8d-9e04-4615-a0c5-1ffdd452d68c.vsidx
.vs/TicTacToe_CPP/v17/.wsuo
.vs/TicTacToe_CPP/v17/Browse.VC.db
.vs/TicTacToe_CPP/v17/DocumentLayout.json
.vs/TicTacToe_CPP/v17/ipch/AutoPCH/14a7bdde377ef362/TIC TAC TOE.ipch
.vs/TicTacToe_CPP/v17/ipch/AutoPCH/19e25ca805975275/UI_TEST.ipch
.vs/TicTacToe_CPP/v17/ipch/AutoPCH/b8a26f5ada778405/UI_TEST.ipch
.vs/VSWorkspaceState.json
CppProperties.json
.vs/ProjectSettings.json
